.navbar-codepet {
  font-size: 5rem !important;
}
.navbar-icon {
  text-decoration: none !important;
  color: purple !important;
  font-size: 2rem !important;
}
.navbar-me0wge {
  text-decoration: none !important;
  color: purple !important;
  font-size: 1.5rem !important;
}
