/* Navbar */
.navbar-codepet {
  font-size: 5rem !important;
}
.navbar-icon {
  text-decoration: none !important;
  color: plum !important;
  font-size: 2rem !important;
}
.navbar-me0wge {
  text-decoration: none !important;
  color: plum !important;
  font-size: 1.5rem !important;
}
/* Footer */
footer {
  margin: 10vh !important;
}
.navbar-icon-footer {
  text-decoration: none !important;
  color: plum !important;
  font-size: 2rem !important;
}
span {
  color: plum !important;
}
/* Content */
.section-content {
}
.div-username {
}
.div-menu {
}
.div-stats {
}
.stats-menu {
}
.div-pet {
}
.pet-menu {
}
.div-messages {
}
.messages-menu {
}
.div-shop {
}
